{
  "hosts": [
    {
      "name": "Ollama01",
      "url": "http://localhost:11434",
      "type": "ollama"
    },
    {
      "name": "LMStudio01",
      "url": "http://localhost:1234",
      "type": "lmstudio"
    }
  ],
  "models": [
    "gemma:2b",
    "llama3:8b"
  ],
  "debug": true
}